
# Base change
b64() { echo $1 | base64 --decode }
base() {
  local base="${1}";
  local num="$(echo ${2} | sed -e "s/^0x//" | tr '[:lower:]' '[:upper:]')"
  echo "bin: 0b$(echo "obase=2; ibase=${base}; ${num}" | bc)"
  echo "oct: 0o$(echo "obase=8; ibase=${base}; ${num}" | bc)"
  echo "dec: $(echo "obase=10; ibase=${base}; ${num}" | bc)"
  echo "hex: 0x$(echo "obase=16; ibase=${base}; ${num}" | bc)"
}
dec() { base 10 $1 }
hex() { base 16 $1 }
bin() { base 2 $1 }

# Remote workflow
diff-push() { ssh $1 "cd $2 && echo '$(git diff $3)' | git apply" }
diff-pull() { ssh $1 "cd $2 && git diff $3" | git apply }
