[submodule "user/.zsh/zsh-autosuggestions"]
	path = user/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "user/.zsh/oh-my-zsh"]
	path = user/.zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
