[user]
	name = d-asnaghi
	email = asnaghi@me.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[fetch]
    prune = true

[alias]
	s = "status --porcelain"
	ca = "commit --amend --no-edit"
	sp = "stash push --include-untracked"
	fix = "commit --amend --no-verify"
	gone = "! git branch -vv | grep ': gone]' |  grep -v "\\*" | awk '{ print $1; }'"
	local = "! git branch -vv | grep -v "$(git remote)" | awk '{ print $1; }'"
	logline = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	tracked = "! git branch -vv | grep "$(git remote)" | awk '{ print $1; }'"

[init]
	defaultBranch = main
