# Base change
base() {
  local base="${1}";
  local num="${2//0x/}" # Removing the '0x' prefix if present
  num=$(echo "${num}" | tr '[:lower:]' '[:upper:]') # Convert to uppercase for consistency
  echo "bin: 0b$(echo "obase=2; ibase=${base}; ${num}" | bc)"
  echo "oct: 0o$(echo "obase=8; ibase=${base}; ${num}" | bc)"
  echo "dec: $(echo "obase=10; ibase=${base}; ${num}" | bc)"
  echo "hex: 0x$(echo "obase=16; ibase=${base}; ${num}" | bc)"
}
dec() { base 10 "$1"; }
hex() { base 16 "$1"; }
bin() { base 2 "$1"; }

# Remote workflow
diff-push() { 
  local diff=$(git diff "$3")
  ssh "$1" "cd $2 && echo \"$diff\" | git apply"
}
diff-pull() { ssh "$1" "cd $2 && git diff $3" | git apply; }
watch-sync() { fswatch "$1" -o -r | xargs -n1 -I{} rsync -av "$1" "$2"; }

# Utilities
b64() { echo "$1" | base64 --decode; }
h() { 
  local line="${2:-1}p"; 
  history 0 | cut -c 8- | rg -v "h " | rg "$1" | tac | sed -n "$line"; 
}
speedtest() { curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -; }

# Bazel
bzlmod_sha256() {
  wget -nv -O - "$1" | openssl dgst -sha256 -binary | openssl base64 -A | sed 's/^/sha256-/'
}

